<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WINT User Onboarding</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      .hidden {
        display: none;
      }
      .errors {
        color: red;
        font-size: 0.875em;
        margin-top: 0.25em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://info.wint.ai/hubfs/header-550x150px%20-x2.jpg"
        alt="WINT-Logo-RGB_Primary_Tagline_Gray-Cyan"
        class="header-image"
      />

      <div class="intro-text">
        <p><strong>We are excited to welcome you on board!</strong></p>
        <p>
          WINT Water Intelligence is dedicated to helping businesses reduce
          their environmental footprint by preventing the hazards, costs, waste,
          and the sustainability impact of water leaks and wastage throughout a
          building's complete lifecycle – from construction to the operational
          phase. Utilizing the power of artificial intelligence (AI) and IoT
          technology, WINT provides a solution for commercial facilities,
          construction projects and industrial manufacturers looking to cut
          water waste and its associated carbon emissions and to mitigate water
          damage in the property.
        </p>
      </div>

      <h1>
        <span style="text-decoration: underline"
          >Set up your WINT user account!</span
        >
      </h1>
      <p>
        To get started with the WINT app and portal, please fill out this form
        <strong>for each user.</strong> This will ensure everyone has the access
        they need to enjoy all the features and manage water effectively.
      </p>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <div class="user-selection">
        <label for="userCount">Select number of users:</label>
        <select id="userCount">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button id="generateForms">Generate User Forms</button>
      </div>

      <form
        id="userForm"
        action="/submit"
        method="post"
        class="{% if not forms %}hidden{% endif %}"
      >
        <input
          type="hidden"
          name="userCount"
          id="formUserCount"
          value="{{ user_count }}"
        />
        <div id="userEntries">
          {% if forms %} {% for form in forms %}
          <div class="user-entry">
            <h2>User {{ loop.index }}</h2>
            <div class="form-group">
              {{ form.firstname.label }} {{ form.firstname(size=32,
              value=form.firstname.data) }} {% for error in
              form.firstname.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.lastname.label }} {{ form.lastname(size=32,
              value=form.lastname.data) }} {% for error in form.lastname.errors
              %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.email.label }} {{ form.email(size=32,
              value=form.email.data) }} {% for error in form.email.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.mobilephone.label }} {{ form.mobilephone(size=32,
              value=form.mobilephone.data) }} {% for error in
              form.mobilephone.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.phone.label }} {{ form.phone(size=32,
              value=form.phone.data) }} {% for error in form.phone.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.company.label }} {{ form.company(size=32,
              value=form.company.data) }} {% for error in form.company.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.jobtitle.label }} {{ form.jobtitle(size=32,
              value=form.jobtitle.data) }} {% for error in form.jobtitle.errors
              %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.country.label }} {{ form.country(value=form.country.data)
              }} {% for error in form.country.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.enable_valve_control.label }} {{
              form.enable_valve_control(checked=form.enable_valve_control.data)
              }} {% for error in form.enable_valve_control.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.escalation_level.label }} {{
              form.escalation_level(value=form.escalation_level.data) }} {% for
              error in form.escalation_level.errors %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.comments.label }} {{ form.comments(rows=4,
              value=form.comments.data) }} {% for error in form.comments.errors
              %}
              <div class="errors">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>

        <div class="warning-text">
          <p>
            <strong>
              <span style="color: #cc0201">
                ⚠️ Remember: Never wait to be contacted by WINT. It is essential
                to actively monitor system alerts. Make sure all users receive
                notifications via the WINT mobile app and save WINT contact
                numbers in your phone or address book for instant access.
                <a
                  href="https://wint.ai/contact/contact-support/"
                  target="_blank"
                  rel="noopener"
                  >WINT numbers</a
                >
                in your phone or address book.
              </span>
            </strong>
          </p>
        </div>

        <div class="next-steps">
          <p><strong>Next Steps:</strong></p>
          <ol>
            <li>
              <strong>User Setup:</strong> After you provide the user details in
              the table above, our team will set up your user account.
            </li>
            <li>
              <strong>Log-In Information:</strong> You will receive a login
              email with your credentials, links to tutorial videos, and
              guidelines to help you get started.
            </li>
            <li>
              <strong>Training Center:</strong> Use the provided link to access
              our training center and learn about the key topics: Mobile App,
              Portal, Water Events, and Manual Operation.
            </li>
            <li>
              <strong>Support:</strong> Please contact our 24/7 support for any
              additional assistance.
            </li>
          </ol>
        </div>

        <button type="submit">Submit User Information</button>
      </form>

      <img
        src="https://info.wint.ai/hubfs/footer-%20OP1-550x100px--x2.jpg"
        alt="footer- OP1-550x100px--x2"
        class="footer-image"
      />

      <div class="privacy-policy">
        <p>
          WINT needs this contact information to contact you about our products
          and services. You may unsubscribe from these communications at
          anytime. For information on how to unsubscribe, as well as our privacy
          practices and commitment to protecting your privacy, check out our
          Privacy Policy.
        </p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
